@charset "utf-8";
body,
html {
    width: 100%;
    height: auto;
    background: #f5f5f5;
    border: 0px solid red;
}

.div25 {
    width: 1000px;
    height: 120px;
    border: 0px solid red;
    margin: 0 auto;
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    width: 99.9%;
    height: 40px;
    background: #333333;
    border: 0px solid red;
    div {
        width: 1226px;
        margin: 0 auto;
        border: 0px solid red;
    }
    ul {
        li {
            line-height: 40px;
            float: left;
            margin-left: 20px;
            font-size: 12px;
            color: #B0B0B0;
        }
        .ul1:after {
            display: block;
            clear: both;
            content: '';
        }
    }
}
.ul1 {
    a:hover{
        color: white;
        cursor: pointer;
    }
}
.ul7 {
    a:hover{
        color: white;
        cursor: pointer;
    }
}

.ul8 {
    a:hover{
        color: red;
        cursor: pointer;
    }
}
article {
    width: 100%;
    height: 100px;
    background: white;
    border: 0px solid red;
    .div2 {
        width: 1226px;
        height: 100px;
        margin: 0 auto;
    }
    .div1 {
        img {
            margin-top: 20px;
        }
    }
    ul {
        width: 800px;
        float: left;
        margin-top: -70px;
        li {
            float: right;
            line-height: 70px;
            margin-left: 10px;
            font-size: 12px;
        }
    }
    input {
        height: 48px;
        line-height: 48px;
        width: 245px;
        border: 1px solid #EBEBEB;
        float: right;
        left: -60px;
        position: relative;
        top: -60px;
    }
    .img1 {
        width: 4%;
        height: 48px;
        margin-top: -60px;
        position: relative;
        top: -25px;
        left: 1166px;
        border: 1px solid #EBEBEB;
    }
}

section {
    width: 100%;
    background: white;
    margin-top: -2px;
    height: 550px;
    .div3 {
        height: 460px;
        width: 1226px;
        margin: 0 auto;
        border: 0px solid red;
        .div4 {
            overflow: hidden;
            width: 234px;
            height: 529.5px;
            background: #0B0B0D;
            color: white;
            img {
                margin-left: 100px;
            }
            li {
                padding: 14px 18px;
                font-size: 12px;
            }
        }
        .swiper-container {
            position: relative;
            top: -530px;
            img {
                width: 81%;
                height: 530px;
                margin-left: 234px;
            }
        }
    }
}

main {
    width: 100%;
    background: white;
    height: 200px;
    margin-top: -85px;
    .div6 {
        width: 1226px;
        margin: 0 auto;
        margin-top: 80px;
        border: 0px solid red;
        .div7 {
            width: 237px;
            height: 85px;
            background: #5F5750;
            ul {
                padding: 14px 15px;
                float: left;
                li {
                    color: #B5B8B1;
                    font-size: 12px;
                    text-align: center;
                    img {
                        width: 60%;
                    }
                }
            }
        }
        .div8 {
            ul {
                margin-left: 240px;
                li {
                    float: left;
                    margin-left: 10px;
                    margin-top: -170px;
                }
            }
        }
    }
}

.main1{
     width: 100%;
     background: white;
     height: 600px;
     .div9{
         width: 1226px;
         margin: 0 auto;       
         border:0px solid red;
         h2{
             margin-top: 100px;
            
             img{
                 float: right;
             }
         }
         .div10{
             width: 1226px;
             height: 345px;             
             background: white;
             margin-top: 20px;        
           
             img{
                 padding: 50px 60px;
             }
            
               li{
                   background: #FAFAFA;
                   width: 240px;
                   height: 350px;
                 line-height: 20px;
                 float: left;
                 margin-left: 5px;
                 border-top:2px solid #FDD282 ;
             }  
             
             p{
                 font-size: 12px;
                 text-align: center;
                 a{
                     color: #FE7F63;
                 }
             }
             p{
                 span{
                     color: #BEBDC7;
                     font-size: 12px;
                     text-align: center;
                 }
                 
             }
         }
     }
}
.main2{
     width: 100%;
     background: #F5F5F5;
     height: 700px;
     margin-top: -150px;
     .div11{
        width: 1200px;
        border: 1px solid #F5F5F5;
         margin: 0 auto;
         height: auto;
        
         ol{
            li{
                float: right;
                margin-top: -15px;
                font-size: 14px;
                margin-left: 12px;
            }
         }
         .div12{
              width: 1000px;
             height: 300px;
             margin-top: -637px;        
            margin-left: 244px;
             img{
                 padding:45px 40px;
             }                   
               li{
                 background: white;
                 width: 235px;
                 height: 302px;
                 line-height: 20px;
                 float: left;
                 margin-left: 10px;
             }  
             
             p{
                 font-size: 12px;
                 text-align: center;
                 a{
                     color: #FE7F63;
                 }
             }
             p{
                 span{
                     color: #BEBDC7;
                     font-size: 12px;
                     text-align: center;
                 }
                 
             }
         }
         .div13{
              width: 1000px;
             height: 302px;
             margin-top: -600px;        
            margin-left: 244px;
            img{
                 padding:50px 40px;
             }         
             button{
                 position: relative;
                 left: 100px;
                 background: #E53935;
                 border: 0;
                 width: 25%;
                 height: 25px;
                 color: white;
             } 
               li{
                 background: white;
                 width: 235px;
                 height: 302px;
                 line-height: 20px;
                 float: left;
                 margin-left: 10px;
                 margin-top: 10px;
             }  
             
             p{
                 font-size: 12px;
                 text-align: center;
                 a{
                     color: #FE7F63;
                 }
             }
             p{
                 span{
                     color: #BEBDC7;
                     font-size: 12px;
                     text-align: center;
                 }
                 
             }
             .div14{
                 p{
                     margin-left: -110px;
                     margin-top: 50px;
                 }
                 img{
                     margin-top: -100px;
                 }
             }
         }
     }
     
}
.main5{
     width: 100%;
     background: #F5F5F5;
     height: 450px;
      .div16{
         width: 1226px;
       border: 0px solid red;
         margin: 0 auto;
         height: auto;
         li{
             width: 300px;
             float: left;
             margin-left: 6px;
         }
         }
         .div18{
             width: 296px;
             height: 150px;
             background: white;
             p{
                 font-size: 14px;
                 padding: 10px 20px;
             span{
                 color: #B1C1D8;
                 
             }
             a{
                 color: #FDD282;
                 margin-left: 10px;
             }
             }           
         }
}
.main6{
     width: 100%;
     background: #F5F5F5;
     height: 470px;
      .div16{
         width: 1226px;
       border: 0px solid red;
         margin: 0 auto;
         height: auto;
         li{
             width: 300px;
             
             float: left;
             margin-left: 6px;
         }
         }
         .div18{
             width: 296px;
             height:400px;
             background: white;
             line-height: 10px;
             border-top:2px solid #FDD282 ;
             p{
                 font-size: 14px;
                 padding: 10px 20px;
             span{
                 color: #B1C1D8;
                 
             }
             a{
                 color: #FDD282;
               
             }
             }
             
         }
         .ul2{
              padding: 0px 90px;
             .li1{
             width:5px;
             height:5px;
             border-radius:50% ;
             border: 2px solid red;
             margin-left: 10px;
         }
         .li2{
             width: 6px;
             height: 6px;
             border-radius:50% ;
             background: #B0B0B0;
            margin-left: 20px;
         }
         }
        
}
.main7{
     width: 100%;
     background: #F5F5F5;
     height: 450px;
      .div16{
         width: 1226px;
       border: 0px solid red;
         margin: 0 auto;
         height: auto;
         li{
             width: 300px;
             float: left;
             margin-left: 6px;
         }
         }
         .div18{
             width: 296px;
             height: 120px;
             background: white;
             p{
                 font-size: 14px;
                 padding: 10px 20px;
             span{
                 color: #B1C1D8;
                 
             }
             a{
                 color: #FDD282;
                 margin-left: 10px;
             }
             }
             
         }
}
footer{
    width: 100%;
    height: 250px;
    background: white;
    div{
        width: 1226px;
        margin: 0 auto;
        background: white;
        .ul3{
           padding: 20px 0px;
            li{
                float: left;
                margin-left: 100px;
                
            }
            
        }
    }
   .ul4{
       float: left;
       padding: 0px 50px;
       height: 40px;
       
       li{
           line-height: 24px;
         font-size: 12px;
       
         p{
           line-height: 67px;
           font-size: 14px;
       }
       }
   }
}
.ul5{
       float: left;
       margin-left: 80px;
       padding: 20px 0px;
       li{
           line-height: 20px;
         font-size: 12px;
       
         p{
           
           font-size: 12px;
       }
       h3{
           font-size: 20px;
           color: #FE7F63;
       }
       button{
           width: 100px;
           height: 25px;
           border: 0;
           border: 1px solid #FE7F63;
           background: white;
           margin-top: 10px;
           color: #FE7F63;
           font-size: 12px;
       }
       }
   }
.div23{
     width: 100%;
     height: 150px;
     margin-top: 150px;
     background: #FAFAFA;
     .div24{
          width: 1226px;
        margin: 0 auto;
        height: 150px;
        border: 0px solid red;
        img{
            padding: 20px 0px;
        }
        ul{
            margin-left: 70px;
            margin-top: -80px;
            font-size: 12px;
            color: #757575;
            line-height: 17px;
           
        }
        h3{
           color: #757575;
           padding: 100px 400px;
           color: #BABABA;
           }
     }
}
.ul6{
    li{
        float: right;
        margin-left: 20px;
        
    }
}

#menu_content_bg {
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: #fff;
  z-index: 700;
  transition: all 3s;
  }
  #menu_content_bg #menu_content_wrap ul {
    height: auto;
    width: 100%;
    position: absolute;
    color: #424242;
    display: block; 
    }
    #menu_content_bg #menu_content_wrap ul li {
      display: none;
      width: 100%;
      height: 230px; 
      }
      #menu_content_bg #menu_content_wrap ul li .menu_content {
        float: left;
        width: 160px;
        cursor: pointer;
        margin-top: 30px;
         }
        #menu_content_bg #menu_content_wrap ul li .menu_content p {
          font-size: 13px;
          text-align: center;
          margin-top: 20px;
           }
      #menu_content_bg #menu_content_wrap ul li .menu_content_line {
        width: 0px;
        height: 100px;
        float: left;
        margin: 30px 20px;
        border-left: 1px solid #D0D0D0;
         }
